*.iml
*.log
*.classpath
*.project
.idea/*
.settings
target/*
reports
test-output
.settings/*

allure-java-commons-mongodb/target
allure-java-commons-mongodb/test-output
allure-java-commons-mongodb/reports
allure-java-commons-mongodb/.settings
allure-java-commons-mongodb/.classpath
allure-java-commons-mongodb/.project
allure-java-commons-mongodb/velocity.log
allure-java-commons-mongodb/sql.log
allure-java-commons-mongodb/application.log
/allure-java-commons-mongodb/bin
/allure-java-commons-mongodb/target
/allure-java-commons-mongodb/hs_err_pid3120.log
/reports/
/allure-java-commons-mongodb/.settings/
/allure-java-commons-mongodb/target/
/allure-java-commons-mongodb/test-output/
/allure-java-commons-mongodb/.classpath
/allure-java-commons-mongodb/.project
/allure-java-commons-mongodb/reports
/allure-java-commons-mongodb/.idea
application.log
sql.log
/allure-java-commons-mongodb/allure-java-commons-mongodb.iml
allure-java-commons-mongodb/allure-java-commons-mongodb.iml
/target/
/allure-report/
/allure-results/
